python-dotenv==1.0.0
livekit-plugins-google==0.11.2
livekit-plugins-groq==0.1.2
livekit-plugins-openai==0.12.3
livekit-plugins-silero==0.7.5
livekit-plugins-turn-detector==0.4.3
livekit-agents==0.12.19
aiohttp==3.11.16
mem0ai
flask
pyjwt
selenium
webdriver-manager
firebase-admin
pandas
